# Лекция 2.5: Оперативная работа с данными

In [1]:
import pandas as pd
import os

# путь к папке с датасетом
resources_path = os.path.join(os.getcwd(), 'resources/names/')

def read_data(years):
    data = []
    
    for year in years:
        file = f'{resources_path}yob{year}.txt'
        read_data = pd.read_csv(file, names=['Name', 'Sex', 'Number'])
        read_data.insert(1, 'Year', year)
        data.append(read_data)
        
    return pd.concat(data)

def ask_for_span():
    raw_years = input('Через пробел укажите года, по которым нужно провести анализ,\nлибо укажите диапазон через дефис.\n\n')
    if '-' in raw_years:
        start, end = [int(year) for year in raw_years.split('-')]
        years = [year for year in range(start, end + 1)]
    else:
        years = [int(year) for year in raw_years.split()]
    return years

## Задача 1
#### С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

In [2]:
def count_top3(span):
    df = read_data(span)
    df = df.groupby('Name').sum()
    df = df.nlargest(3, 'Number').reset_index().drop(['Year', 'Number'], 1)
    df.index += 1
    return df

*Пример 1*

In [3]:
count_top3(ask_for_span())

Через пробел укажите года, по которым нужно провести анализ,
либо укажите диапазон через дефис.

1880

      Name
1     John
2  William
3     Mary

*Пример 2*

In [4]:
count_top3(ask_for_span())

Через пробел укажите года, по которым нужно провести анализ,
либо укажите диапазон через дефис.

1900 1950 2000

     Name
1   James
2    John
3  Robert

*Пример 3*

In [5]:
# топ-3 имен за период с 1880 по 2018 г.
count_top3(ask_for_span())

Через пробел укажите года, по которым нужно провести анализ,
либо укажите диапазон через дефис.

1880-2018

     Name
1   James
2    John
3  Robert

## Задача 2
#### С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.

In [6]:
def count_dynamics(span):
    df = read_data(span)
    df = df.set_index('Year')
    df = df.pivot_table(index='Year', columns='Sex', aggfunc='sum')
    return df

*Пример 1*

In [7]:
count_dynamics(ask_for_span())

Через пробел укажите года, по которым нужно провести анализ,
либо укажите диапазон через дефис.

1900 1950 2000

       Number
Sex         F        M
Year
1900   299798   150480
1950  1713065  1790437
2000  1815295  1963202